config.php
.env
testDatabase.php
testAuth.php
tuelo-main/uploads/listings/user-*
tuelo-main/assets/img/avatars/*
!tuelo-main/uploads/.gitkeep
.DS_Store
**/.DS_Store
.vscode/
.idea/
error_log.txt
*.log
nbproject/
tuelo-main/uploads/avatars/*
!tuelo-main/uploads/avatars/.gitkeep